<button {{action 'doSomethingAsyncAndBlock'}}>
	Do something async and block
</button>
<button {{action 'failAsyncAndBlock'}}>
	Fail async and block
</button>

<div class="completed-step">
	<span>Completed Step: </span><span>{{step}}</span>
</div>



{{outlet}}
